.home-banner-wrapper {
    width: 100%;
    background-image: 
        url(/public/images/img_div_bg_image_1000x697.png),
        url(/public/images/img_div_bg_image_822x1223.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right, left;
    background-size: 30% 100%, 70% 100%;
}

a.active > p {
    color: #F08125 !important;
}

@media screen and (max-width: 1050px) {
    .home-banner-wrapper {
        background-size: 40vw 100vh, 60vw 100vh;
    }    
}